@model TrackListViewModel
@using SpotifyAPI.Web;

@{
    int maxTopTracks = 5;
}

<div class="container top-tracks-container section-container mt-3 p-4 d-flex flex-column">
    <h5 class="m-0 section-header">Top tracks this month</h5>
    <div class="d-flex flex-row justify-content-between">
        <p class="m-0 translucent-text">Only visible to you</p>
        <p class="m-0 translucent-text"><strong>Show all</strong></p>
    </div>

    <div class="table-responsive mt-3">
        <table class="table top-tracks-table">
            <tbody>
                @for (int i = 0; i < maxTopTracks; i++)
                {
                    if (i < Model.Items.Count)
                    {
                        TrackViewModel track = Model.Items[i];

                        <tr>
                            <td class="align-middle">
                                <p class="ps-3 m-0 translucent-text">@(i + 1)</p>
                            </td>
                            <td>
                                <div class="d-flex flex-row gap-3 align-middle">
                                    <div class="track-image-container section-image-container">
                                        <img src="@track.Album!.Image" class="h-100" />
                                    </div>

                                    <div>
                                        <a asp-controller="Track" asp-action="Details" asp-route-id="@track.Id">
                                            <h6 class="m-0 page-link">@track.Name</h6>
                                        </a>
                                        <p class="m-0 translucent-text">
                                            @if (track.Explicit)
                                            {
                                                <i class="bi bi-explicit-fill m-1"></i>
                                            }

                                            @{
                                                var artists = track.Artists;

                                                for (int j = 0; j < artists.Count; j++)
                                                {
                                                    <a asp-controller="Artist" asp-action="Profile" asp-route-id="@artists[j].Id">
                                                        <span class="page-link d-inline">@artists[j].Name</span>
                                                    </a>
                                                    if (j + 1 < artists.Count)
                                                    {
                                                        <span class="d-inline"> , </span>
                                                    }
                                                }
                                            }
                                        </p>
                                    </div>
                                </div>
                            </td>

                            <td class="align-middle">
                                <div class="d-flex flex-row justify-content-between align-items-center">
                                    <a asp-controller="Album" asp-action="Details" asp-route-id="@track.Album.Id">
                                        <p class="m-0 translucent-text page-link">@track.Album.Name</p>
                                    </a>

                                    <div class="d-flex flex-row gap-3 align-items-center">
                                        <p class="m-0 translucent-text">@track.DurationFormatted</p>
                                        <i class="bi bi-three-dots table-dots"></i>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                    else
                    {
                    }
                }
            </tbody>
        </table>
    </div>
</div>