@model AlbumViewModel

@{
    ViewData["Title"] = Model.Name;
}

<div class="album-page mt-0">

    <div id="dominant-color" class="container summary-container row p-4">
        <div class="col col-12 mb-sm-4 mb-md-0 col-md-4 col-lg-3 p-2 section-image-container album-image-container">
            <div class="w-75 d-sm-flex justify-content-center mx-sm-auto">
                <img src="@Model.Image" class="w-100 h-100 get-dominant-color" crossorigin="anonymous" />
            </div>
        </div>

        <div class="col col-12 col-md-8 col-lg-9 album-description d-flex flex-column justify-content-end">
            <p class="m-0">@Model.Type</p>
            <p class="display-name mb-1">@Model.Name</p>
            <div class="d-flex flex-row gap-3">
                <div class="album-lead-artist-image-container section-image-container artist-image-container">
                    <img src="@Model.LeadArtist!.Image" class="w-100 h-100" />
                </div>
                <p>
                    <strong>@Model.LeadArtist.Name</strong>
                    <i class="bi bi-dot"></i>
                    <span class="translucent-text">
                        @Model.ReleaseDate
                        <i class="bi bi-dot"></i>

                        @{
                            string text = Model.TotalTracks > 1 ? "songs" : "song";
                        }

                        @Model.TotalTracks @text, @Model.AlbumDuration
                    </span>
                </p>
            </div>
        </div>
    </div>

    <div class="play-controls p-4 d-flex flex-row gap-1">
        <button class="btn play-button primary-button">
            <i class="bi bi-play-circle-fill"></i>
        </button>
        <button class="btn play-button secondary-button translucent-text">
            <i class="bi bi-plus-circle"></i>
        </button>
        <button class="btn play-button secondary-button translucent-text">
            <i class="bi bi-three-dots"></i>
        </button>
    </div>

    <partial name="_Tracks.cshtml" model="@Model.Tracks" />

</div>